body {
    color: white;
    background-color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    

    .container{
        padding: 50px 20px;
      }
}

header {
    background-color: rgb(54, 17, 17);
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 8px;
    margin-right: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
}

.search-bar button {
    padding: 8px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
    display: flex;
    align-items: center;
}




footer {
    background-color: rgb(2, 41, 2);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: left;
    }

    nav {
        margin-top: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }

   main {
    color: blue;
  }
  
}

img {
    width: 130px;
    height: 80px;
}
nav a:hover {
    color: yellow;
}
/* Estilo para a lista e remoção de marcadores */
.pratos ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribui as colunas uniformemente */
}

/* Estilo para cada item da lista */
.pratos ul li {
    width: calc(33.33% - 20px); /* Uma coluna de três com espaço entre elas */
    margin-bottom: 20px;
}

/* Estilo para as imagens */
.pratos ul li img {
    width: 100%;
    height: 200px; /* ou outro valor desejado */
    object-fit: cover; /* para manter a proporção da imagem e cortar se necessário */
    border: 1px solid black; /* Adiciona uma borda para separar as imagens */
    border-radius: 5%;
}


/* Estilo para os títulos das comidas */
.pratos ul li p {
    text-align: center;
    margin: 10px 0;
}

/* Estilo para os títulos das comidas */
.pratos ul li h3 {
    margin-left: 0%;
    text-align: center;
}


/* Estilo para as descrições */
.pratos-lista li p {
    text-align: justify;
    margin: 5px 0;
}

h1 {
    margin: auto;
    text-align: center;




}

/* Estil para a logo */
.LOGO {
    display: flex;
    justify-content: center; /* Centraliza a logo horizontalmente */
    align-items: center; /* Centraliza a logo verticalmente */
    margin: 0; /* Remove as margens padrão do h1 */
  }
  
  .LOGO img {
    width: 250px; /* Largura inicial da logo */
    height: auto; /* Mantém a proporção original da imagem */
    transition: width 0.3s ease; /* Adiciona uma transição suave para o tamanho da logo */
  }


  /* Estilo para a logo quando o mouse passa por cima */
  .LOGO:hover img {
    width: 300px; /* Largura da logo ao passar o mouse */
}

 /*estilo para os títulos e textos da págino da 1 e da história*/
 .container h3 {
    text-align: center;
    font-size: 30px;
 }
 .container p {
    text-align: center;
 }


 .central {
    width: 100%;
    overflow: hidden; /* Limpa o float */
  }
  
  .pratosp {
    width: calc(33.33% - 20px); /* Defina a largura de cada coluna */
    float: left; /* Faz as colunas flutuarem ao lado umas das outras */
    margin: 0 10px; /* Adicione margens para espaçamento entre as colunas */
  }

  .bebisob {
    width: calc(33.33% - 20px); /* Defina a largura de cada coluna */
    float: left; /* Faz as colunas flutuarem ao lado umas das outras */
    margin: 0 10px; /* Adicione margens para espaçamento entre as colunas */
  }


  .coluna3 {
    width: calc(33.33% - 20px); /* Defina a largura de cada coluna */
    float: left; /* Faz as colunas flutuarem ao lado umas das outras */
    margin: 0 10px; /* Adicione margens para espaçamento entre as colunas */
  }
  
  


/* Estilo para a logo quando o mouse passa por cima */

